<% include ../partials/header %>

    <header class="jumbotron ">
        <div class="container">
            <h1>Welcome To Price Monitor!</h1>
            <p>Follow the products for FREE !</p>
            <p>
                <a class="btn btn-primary btn-large btn-dark" href="/products/new ">Add New Product</a>
            </p>
        </div>
    </header>


    <% products.forEach(function(product){ %>
        <ul class="list-unstyled">

            <li class="media">
                <img class="mr-3 img-thumbnail img-responsive" src="<%=product.image%>" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">
                        PRODUCT NAME :
                        <%= product.name %>
                    </h5>
                    <h5>
                        Last refreshed:
                        <%= moment(product.createdAt).format('MMMM Do YYYY, h:mm:ss a') %>
                    </h5>
                    <h5> Actual price:
                        <%= product.price.toFixed(2) %>
                            PLN
                    </h5>
                    <form class="d-inline">
                        <form id="update-form" class="update-form" action="/products/<%= product._id %>?_method=PUT" method="POST">
                            <button class="btn btn-xs btn-light btn-outline-dark">Update price</button>
                        </form>
                        <form class="d-inline" id="delete-form" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </form>





                </div>

            </li>
        </ul>
        <% }); %>





            <% include ../partials/footer %>